@import 'meyer-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.space {
    background-color: var(--primary-background-color);
}


li {
    list-style: none;
}

.flex {
    display: flex;
}

:root {
    --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

    --primary-background-color: #1f2937;
    --button-background-color: #3882f6;
    
    --primary-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --sub-primary-text-color: #1f2937;
}

button {
    background-color: var(--button-background-color);
}

.primary-font {
    font-size: var(--step-5);
    margin-bottom: 3rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.secondary-font {
    font-size: var(--step-4);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.tertiary-font {
    font-size: var(--step-1);
    color: var(--secondary-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.quaternary-font {
    font-size: var(--step-0);
    color: var(--secondary-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}


/* NAVBAR ================================================== */

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    margin:0;
}


.container-header {
    background-color: var(--primary-background-color);
}

.navbar {
    justify-content: space-between;
    background-color: var(--primary-background-color);


    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;   
    position: sticky;
    top: 0;
    transition: transform 0.25s ease;
}

.nav-hidden {
    transform: translate(0, -100%);
}

.header-logo {
    align-self: center;
    color: var(--secondary-text-color);
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.75rem;
}

.off-screen-menu {
    margin-top: 1rem;
    height: auto;
    position: absolute;
    top: 0;
    top: -1000%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    transition: .5s ease;
    background-color: var(--primary-background-color);
    padding: 2rem;
    border-radius: 10px;
}

.off-screen-menu.active {
    top: 0;
}

.ham-menu {
    height: 40px;
    width: 40px;
}

.ham-menu span {
    position: absolute;
    height: 3px;
    width: 50px;
    color: white;
    border-radius: 25px;
    top: 50%;
    background-color: var(--secondary-text-color);

}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}


.link {
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-top: 2rem;
    line-height: 2rem;
}

.link:hover {
    color:white;
    font-weight: 300;
}


/* HEADER ============================================= */

.header {
    flex-direction: column;
    align-content:baseline;
    align-items: center;
    margin-top: 0;
    padding-bottom: 1.5rem;
}

.header-text-container {
    flex-direction: column;
}


.header-title {
    color: var(--primary-text-color);
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
}


.header-p {
    flex-direction: column;
    margin-top: 0;
    justify-content: center;
    margin-bottom: 1.5rem;
    text-align: center;
}

.sign-up-button {
    border-radius: 25px;
    justify-content:  center;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    padding: .75rem 0;
    border: 2px solid var(--primary-text-color);
    transition: filter 0.3s ease;
}

.sign-up-button:hover {
    filter: brightness(80%);
}

.header-image-1 {
    max-width: 100%;
    margin-bottom: 1rem;
}

.header-image-2 {
    display: none;
    width: 100%;
}

/* SECTION 1 =================================================== */

.container-section-1 {
    padding-top: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
    background-color: var(--primary-text-color);
}

.card-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.section-1-title {
    font-family: "Bebas Neue", sans-serif;
    color: var(--sub-primary-text-color);
    font-size: var(--step-3);
    margin-bottom: 1rem;
    text-align: center;
}

.card {
    flex-direction: column;

    align-content: center;
    justify-content: flex-start;
    max-width: 300px;
    align-items: flex-start;
    

}

.card-img {
    width: 100%;
    border-radius: 15px;
    border: 5px solid var(--button-background-color);
    max-height: 250px;
    margin-bottom: 1rem;
    
}

.card-description {
    text-align: center;
    color: black;
    margin-bottom: 1rem;
}

/* SECTION 2 ========================================================== */

.container-section-2 {
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-text-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.quote {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
    color: var(--sub-primary-text-color);
}

.quote-author {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* SECTION 3 ============================================================== */

.container:has(.container-section-3) {
    justify-self: center;
    padding: 0;
}


.container-section-3 {
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--button-background-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section-3-title {
    color: var(--secondary-text-color);
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.call-to-action {
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
}

.call-to-action-p {
    font-weight: 300;
}

.container-section-3 .sign-up-button {
    border: 2px solid var(--primary-text-color);
    width: 300px;
    height:fit-content;
    justify-self: center;
    align-self: center;
}   

/* FOOTER ======================================================== */

.footer {
    flex-direction: column;
    background-color: var(--primary-background-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.references {
    text-align: center;
    margin-bottom: 1rem;
}

.footer-notes {
    text-align: center; 
}

/* MEDIA QUERIES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media (min-width: 944px) {

    .navbar {
        justify-self: center;
        
        width: 80%;
    }
    
    .container {
        align-self: center;
        justify-self: center;
    }

    #header {
        max-width: 80%;
    }

    .header {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .header-image-1 {
        display: none;
    }

    .header-image-2 {
        display: flex;
        max-width: 30%;
    }

    .header-text-container {
        flex-direction: column;
        width: 45%;
    }

    .header-title {
        justify-content: start;
        text-align: start;
    }

    .header-p {
        text-align: start;
    }

    .container-section-1 {
        width: 80%;
    }

    .container-section-2 {
        width: 80%;
    }

    .card-list {
        max-width: 899px;
    }

    .container-section-2 {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .quote {
        font-size: var(--step-2);
        width: 75%;
    }

    .quote-author {
        font-size: var(--step-2);
    }

    .container:has(.container-section-3) {
        padding: 2rem;
        justify-content: center;
        width: 80%;
    }

    .container-section-3 {
        border-radius: 15px;
        padding: 1rem;
        padding-top: 1.5rem;
    }

    .call-to-action {
        width: 60%;
        margin-right: 3rem;
    }

    .footer {
        width: 80%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    


}

@media (min-width: 1126px) {
    .card-list {
        max-width: 100%;
    }

    .card {
        max-width: 175px;
    }
    
    .card-img {
        height: 175px;
    }
}

